*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #E6E6E6;
}
/* ---global section--- */
a, li{
    color: #ffffff;
    list-style-type: none;
    text-decoration: none;
}
h1{
    font-size: 24px;
    font-weight: bold;
    color: #562eff;
    margin-left: 20px;
    margin: 0;
}
h3{
    line-height: 34px;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}
/* ---header--- */
header{
    background: #562EFF;
    height: 75px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    width: 60%;
}
/* ---nav menu--- */
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 36px;
    height: 75px;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    column-gap: 40px;
}
.nav-img {
    align-items: center;
    display: flex;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}
.logo > img{
    height: 40px;
}
.logo-title{
    color: #ffffff;
    font-size: 24px;
}
/* -----Top Player----- */
.section-container{
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 5px;
    width: 800px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.top-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px;
    padding: 20px;
}
.player{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: calc(33.33% - 20px);
  }
.player img{
    height: 50px;
    width: 50px;
}
.img-player{
    flex-basis: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: calc(100% - 75px);
}
.player-name a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
/* -----Blog------ */
.blog{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 20px;
    padding: 20px;
}
.blog-details{
    display: flex;
    flex-basis: calc(50% - 15px);
    column-gap: 20px;
}
.blog-img{
    width: 175px;
    height: 117px;
}
.blog-content{
    display: flex;
    flex-wrap: wrap;
    flex: calc(100% - 175px);
}
.blog-content div{
    color: #9F9F9F;
}
.blog-content a{
    color: #562eff;
}
hr{
    border: 1px solid rgb(209 209 209);
    width: 750px;
    height: 0;
    color: #d1d1d1;
}
/* -----Course----- */
.courses img{
    width: 220px;
    height: 105px;
}
.courses{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    flex-basis: 33.33%;   
}
.course-single{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 13px;
    border-radius: 10px;
    flex-basis: calc(33.33% - 12px);    
} 
.courses p{
    color: #ed6b4f;
    font-size: 16px;
    margin: 0;
}
.course-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.star-rating > .filled{
    color:orange;
}
.star-rating > i{
    color: #aeaeae;
    font-size: 14px;
}
.time{
    background-color: #fee5df;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 3px;
    width: 95px;
    text-align: center;
    color: #FF4A60;
    font-size: 14px;
}
